<aside class="d-none d-sm-block hidden-xs hide-for-small-only mdl-cell--hide-tablet mdl-cell--hide-phone">
  <h6>
      {$title}
  </h6>
  <nav>
    <ul class="nav flex-column nav-pills nav-stacked vertical menu side-nav mdl-list">
      {foreach $nav as $link}
      <li class="nav-item{if $link.route==$current} active{/if} mdl-list__item">
        <a class="nav-link{if $link.route==$current} active{/if} mdl-list__item-primary-content" href="{url name=$link.route}">
          <span class="{if $link.route==$current}mdl-button--primary{/if}">{$link.caption}</span>
        </a>
      </li>
      {/foreach}
    </ul>
  </nav>
</aside>
<aside class="d-block d-sm-none visible-xs-block show-for-small-only mdl-cell--hide-desktop">
  <span>
      {$title}
  </span>
  <nav>
    <ul class="nav nav-pills menu sub-nav mdl-navigation">
      {foreach $nav as $link}
      <li class="nav-item{if $link.route==$current} active{/if} mdl-button mdl-js-button">
        <a class="nav-link{if $link.route==$current} active{/if}" style="text-decoration:none;" href="{url name=$link.route}">
          <span class="{if $link.route==$current}mdl-button--primary{/if}">{$link.caption}</span>
        </a>
      </li>
      {/foreach}
    </ul>
  </nav>
</aside>
